@font-face {
  font-family: 'Fredoka One';
  src: url('roboto-slab/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('merriweather-sans/MerriweatherSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('facon/Facon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

